<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPlayerManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPartyChat">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPartyGame">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPartyManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPlayerManager" contract="GameService.IPlayerManager"
                name="NetTcpBinding_IPlayerManager" />
            <endpoint address="net.tcp://localhost:8090/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPartyChat" contract="GameService.IPartyChat"
                name="NetTcpBinding_IPartyChat" />
            <endpoint address="net.tcp://localhost:8090/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPartyGame" contract="GameService.IPartyGame"
                name="NetTcpBinding_IPartyGame" />
            <endpoint address="net.tcp://localhost:8090/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPartyManager" contract="GameService.IPartyManager"
                name="NetTcpBinding_IPartyManager" />
        </client>
    </system.serviceModel>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
				<add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs.txt"/>
				<remove name="Default"/>
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>