<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding>
					<security mode="None">
						<transport sslProtocols="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service name="Service.GameService">
				<endpoint address="" binding="netTcpBinding" contract="Service.IPlayerManager" />
				<endpoint address="" binding="netTcpBinding" contract="Service.IPartyChat" />
				<endpoint address="" binding="netTcpBinding" contract="Service.IPartyGame" />
				<endpoint address="" binding="netTcpBinding" contract="Service.IPartyManager" />
				<host>
					<baseAddresses>
						<add baseAddress="http://148.226.81.137:8080" />
						<add baseAddress="net.tcp://148.226.81.137:8090" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<connectionStrings>
		<add name="ScrabbleEntities" connectionString="metadata=res://*/ScrabbleModel.csdl|res://*/ScrabbleModel.ssdl|res://*/ScrabbleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=scrabble;persist security info=True;user id=aiwass;password=wasd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<appSettings>
		<add key="emailAddress" value="scrabbletcs@gmail.com" />
		<add key="emailAppPassword" value="zcnuqotyquentjti" />
	</appSettings>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
				<add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs.txt"/>
				<remove name="Default"/>
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>